<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-2.1.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<mongo:db-factory id="mongoDbFactory" dbname="spring-integration" />
	
	<bean class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg ref="mongoDbFactory" />
	</bean>
	
	<bean class="org.springframework.integration.core.MessagingTemplate">
		<property name="defaultChannel" ref="tasks" />
	</bean>
	
	<bean id="messageStore" class="org.springframework.integration.mongodb.store.MongoDbMessageStore">
		<constructor-arg ref="mongoDbFactory" />
		<constructor-arg value="emailtasks" />
	</bean>
	
	<int:channel id="tasks">
		<int:queue message-store="messageStore"/>
	</int:channel>
	
	<int:service-activator input-channel="tasks" ref="emailService" method="send">
		<int:poller fixed-rate="500" time-unit="MILLISECONDS"  task-executor="emailTaskExecutor" />
	</int:service-activator>
	
	<task:executor id="emailTaskExecutor" pool-size="10" />

	<bean id="emailService" class="com.zenika.EmailService" />
</beans>
